$background_container : #AFA190; 

.errors_detectors_container{

    position: relative;
    border-radius: 0.5em;
    margin: 0.5em;
    width: 100%;
    height: 100%;
    background-color: $background_container;
    display: block;
}

h1{
    text-align: center;
}