<div class="row">
    <div class="col-sm-6 col-md-4 col-lg-4">
        <h2>Errors/Detectors chart</h2>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-4">
        <h2>Chart 2</h2>
        <div class="errors_detectors_container">
            <app-errors-detectors-chart></app-errors-detectors-chart>
        </div> 
    </div>
    <div class="clearfix visible-sm-block"></div>
    <div class="col-sm-6 col-md-4 col-lg-4">
        <h2>Chart 3</h2>
        <p>/</p>
        <p>/</p>
    </div>
  </div>