<div class="wrapper">
<app-sidebar></app-sidebar>
    <!-- Sidebar 
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Dashboard</h3>
        </div>

        <ul class="list-unstyled components">
            <p>Assignment 2</p>
            <li>
                <a href="/dashboard">Home</a>
            </li>
            <li class="active">
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Charts</a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li>
                        <a href="/charts">Chart 1</a>
                    </li>
                    <li>
                        <a href="#">Chart 2</a>
                    </li>
                    <li>
                        <a href="#">Chart 3</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
-->
    <!-- Page Content -->
    <div id="content">
        <router-outlet></router-outlet>
    </div>

</div>       
<script src="node_modules/chart.js/src/chart.js"></script>