  <nav class="navbar navbar-expand navbar-dark bg-dark">
      <div id="mySidenav" class="sidenav">
          <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
          <a [routerLink]="['/dashboard']">Home</a>
          <a [routerLink]="['/errordetectorchart']">Detector log rate</a>
          <a [routerLink]="['/errorrunchart']">Run log rate</a>
        </div>
        <span style="font-size:30px;cursor:pointer; color: White;" (click)="openNav()"> <i class="fas fa-bars"></i></span>
    <a class="navbar-brand" [routerLink]="['/dashboard']">Dashboard</a>
    <span id="darkModeIcon" style="font-size:30px;cursor:pointer; color: White;" (click)="changeColor()"><i class="far fa-moon"></i></span>
  </nav>
